<div class="countries">
    <div class="weather_forecast">
        <a class="back_arrow" [routerLink]="['/home']"> <i class="fas fa-arrow-left"></i></a>
        <div class="country_details">
            <h3 class="title">{{cityData.name }}</h3>
            <p class="temperature"><i class="fas fa-thermometer-three-quarters"></i>
                {{cityData.main.temp | convertTemp}}<sup>o</sup><span>C</span></p>
            <p class="sunRise"><img class="sunImg" src="../../assets/images/sunrise.jpg">Sun
                Rise<span>{{cityData.sys.sunrise | timeStamp }} AM</span></p>
            <p class="sunRise"><img class="sunImg" src="../../assets/images/sunrise.jpg">Sun
                Set<span>{{cityData.sys.sunset | timeStamp}} PM</span></p>

        </div>
        <h1>Weather forecast of {{cityData.name }} for next 5 days at 9AM</h1>
        <div class="row">
            <div *ngFor="let data of forecatsData;" class="country_temp">
                <div *ngIf="checkTime(data.dt_txt)">
                    <p><i class="fas fa-calendar-alt"></i>{{data.dt_txt | date:"medium"}}</p>
                    <p><i class="fas fa-thermometer-three-quarters"></i>Temparature : {{data.main.temp |
                        convertTemp}}<sup>o</sup><span>C</span></p>
                    <p><i class="fas fa-water"></i>Sea level : {{data.main.sea_level}} hPa</p>
                </div>

            </div>

        </div>
    </div>
</div>