.countries {
  min-height: 100vh;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.back_arrow {
  color: #fff;
  font-size: 20px;
}
.weather_forecast {
  padding: 12px;
}
@media only screen and (min-width: 1080px) {
  .back_arrow {
    position: absolute !important;
    top: 12px;
    left: 12px;
  }
  .weather_forecast {
    padding: 12px;
  }
}
.weather_forecast {
  width: 100%;
}
.countries .row {
  margin: 0;
  justify-content: center;
}
.country_details {
  width: 300px;
  margin: auto;
  color: white;
}
.sunImg {
  height: 35px;
  width: 35px;
}
.title {
  margin-top: 0px;
  text-align: center;
}
.temperature {
  text-align: center;
  font-size: 24px;
}
.sunRise {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sunRise span {
  float: right;
}
sup {
  padding-left: 3px;
  padding-right: 8px;
}
.temperature span {
  font-size: 30px;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
h1,
.country_temp p {
  color: white;
}
h1 {
  text-align: center;
  margin: 1.5em 0;
  font-size: 24px;
}
.country_temp div {
  margin: 9px;
  background: #231f20;
  border-radius: 5px;
  color: #fff;
  padding: 1rem;
}
.country_temp div p {
  font-size: 15px;
}
.country_temp .fas {
  margin-right: 14px;
}
