body {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}
p,
span,
a,
ul,
li,
button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300;
}
strong {
  font-weight: 400;
}
.countries {
  min-height: 100vh;
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
}
.countries .row {
  margin: 1.5em 0 0;
  width: 80%;
}
.col-sm-4 {
  padding-right: 0;
  padding-left: 20px;
  min-width: 300px;
}

@media only screen and (min-width: 320px) and (max-width: 559px) {
  .col-sm-4 {
    padding-left: 0 !important;
  }
}
.tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.sunImg {
  height: 35px;
  width: 35px;
}
.tile .title {
  margin-top: 0px;
  text-align: center;
}
.tile.purple {
  background: #231f20;
  border-radius: 5px;
  color: #fff;
}
.temperature {
  text-align: center;
  font-size: 24px;
}
.sunRise {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sunRise span {
  float: right;
}
sup {
  padding-left: 3px;
  padding-right: 8px;
}
.temperature span {
  font-size: 30px;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
