<div class="countries">
	<div class="row">
		<div class="col-sm-4" *ngFor="let city of citiesInfo; let i= index;" (click)="viewDetails(city)">
			<a class="tile purple">
				<h3 class="title">{{city.name }}</h3>
				<p class="temperature"><i class="fas fa-thermometer-three-quarters"></i> {{city.main.temp | convertTemp}}<sup>o</sup><span>C</span></p>
				<p class="sunRise"><img class="sunImg" src="../../assets/images/sunrise.jpg">Sun Rise<span>{{city.sys.sunrise | timeStamp }} AM</span></p>
				<p class="sunRise"><img class="sunImg" src="../../assets/images/sunrise.jpg">Sun Set<span>{{city.sys.sunset | timeStamp}} PM</span></p>
			</a>
		</div>
	</div>
</div>  